<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <main class="page-main">
      <div class="container">
        <form>
          <div class="row content list-room">
            <div class="col-sm-9">
              <h4>Phòng Hiện Tại</h4>
              <div class="box">
                <div class="box-item">
                  <img
                    src="https://play-lh.googleusercontent.com/o1xjpaWAF3bUEcPeyINNzAF3D6VuOJZh5_BXB-cuLTxcDIinPO06L1dyAz7-G68W"
                  />
                  <br />
                  <h5>Name Topic</h5>
                </div>
                <div class="box-item">
                  <img
                    src="https://play-lh.googleusercontent.com/o1xjpaWAF3bUEcPeyINNzAF3D6VuOJZh5_BXB-cuLTxcDIinPO06L1dyAz7-G68W"
                  />
                  <br />
                  <h5>Name Topic</h5>
                </div>
                <div class="box-item">
                  <img
                    src="https://play-lh.googleusercontent.com/o1xjpaWAF3bUEcPeyINNzAF3D6VuOJZh5_BXB-cuLTxcDIinPO06L1dyAz7-G68W"
                  />
                  <br />
                  <h5>Name Topic</h5>
                </div>
                <div class="box-item">
                  <img
                    src="https://play-lh.googleusercontent.com/o1xjpaWAF3bUEcPeyINNzAF3D6VuOJZh5_BXB-cuLTxcDIinPO06L1dyAz7-G68W"
                  />
                  <br />
                  <h5>Name Topic</h5>
                </div>
                <div class="box-item">
                  <img
                    src="https://play-lh.googleusercontent.com/o1xjpaWAF3bUEcPeyINNzAF3D6VuOJZh5_BXB-cuLTxcDIinPO06L1dyAz7-G68W"
                  />
                  <br />
                  <h5>Name Topic</h5>
                </div>
              </div>
              <button type="button" class="btn btn-warning btn-create-room">
                Vào Phòng
              </button>
            </div>
          </div>
        </form>
      </div>
    </main>

    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
<%- include('./partials/handle-js.ejs'); %>
